*{
    margin:0;
    padding: 0;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff !important;
    background: #000 !important;
    overflow-x:hidden;
    /* line-height: 1.6; */
}

/* Navbar */

.navbar .navbar-brand {
    color: #000;
}

nav.white .navbar-brand {
    color: black;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav.white .navbar-right li a {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 13px; */
}

nav.white {
    background-color: #000;
    transition: 0.7s linear;
}

.navbar .navbar-right li a {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.navbar .navbar-right .active a {
    border-bottom: 2px solid #ED1C24;
}

.navbar .navbar-right a:hover {
    border-bottom: 2px solid #ED1C24;
    background-color: transparent;
}

.navbar .icon-bar {
        background-color: #fff !important;
        border-color: #fff;
    }

/* Media Queires */
@media(max-width: 568px) {
    .navbar .navbar-brand {
        color: white;
    }

    nav.white .navbar-brand {
        color: black;
    }

    .navbar {
        background-color: #000;
        border-color: #000;
        color:#fff
    }

    .navbar .icon-bar {
        background-color: #fff !important;
        border-color: #fff;
    }

    nav.white {
        background-color: #000;
        transition: 0.7s linear;
        box-shadow: 0 0 5px 0 #333;
    }

    nav.white .icon-bar {
        background-color: #fff;
        border-color: #fff;
    }

    .navbar .navbar-right li a {
        text-transform: uppercase;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }
}

/* End Of Navbar */

#showcase{
    background-image: linear-gradient(rgba(10, 10, 10, 0.521), rgba(0, 0, 0, 0.7)), url(../img/6.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}

#showcase h1{
    font-size: 40px;
    line-height: 1.2;
}

#showcase p{
    font-size: 20px;
}





/* Arrow Animation */


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* End Of Arrow Animation */

/* #organizer */

#organizer{
    color: #262626 !important;
}


/* About */



#about .container-fluid, #speaker .container-fluid{
    text-align: justify !important;
    margin: 0 30px;
}
.container-title{
    margin-bottom: 24px;
    padding: 0;
    font-size: 32px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    font-family: "Product Sans", arial, sans-serif;
    
}

#about p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;

}

#about h4{
    color: #fff !important;
}

#number{
    font-size: 40px;
    color: #fff;
}

#number::after{
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    background-color: #ED1C24

}
/* End of Info Section */

/* Partners */



#partners img{
    height: 80px;
    /* width:100%; */
    margin: auto;
    padding: 10px;
    }




/* Footer Mail */

footer .mail a{
    color:red; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration: none; 
    border:1px #fff solid; 
    padding: 5px;
}

footer .mail a:hover{
    background-color:transparent;
            color: #fff;
            /* padding: 5px 10px; */
            /* font-size: 17px; */
            /* text-transform: uppercase; */
            /* border-radius: 15px; */
            /* font-family: 'Open Sans Condensed', sans-serif; */
            /* font-weight: 600; */
            border-color: #ED1C24;
   
}

footer p i{
    color:#fff
}


footer p .fa-twitter:hover{
    color: #1DA1F2
}

footer p .fa-facebook:hover{
    color:#4267B2
}


footer p .fa-facebook-f:hover{
    color:#4267B2
}

.fa-linkedin:hover, .fa-linkedin-square:hover, .fa-linkedin-in:hover   {
    color: #0077B5;
  }

footer #fmail .btn{
    margin-top:20px; 
    text-decoration: none; 
    color:#ED1C24; 
    background: transparent; 
    border-color: #fff;
    padding: 5px 10px;
}

footer #fmail .btn:hover{
    color: #fff;
    border-color: #ED1C24;
}

@media(max-width:750px){
    footer .col-md-3{
      text-align: center !important;
      margin-bottom: 50px;
      
      
    }
  }
